<!doctype html>
<html class="no-js" lang="">
    <head>
	    {% block empty_meta %}
	    {% endblock %}

	    {% block empty_css %}
	    {% endblock %}

	    {% block empty_js %}
	    {% endblock %}
    </head>

    <body>
    	<div class="header">
	    	{% block header %}
	    	{% endblock %}
	    </div>

	    <div class ="navigation-bar" id="navigation-bar">
	    	{% block topnav %}
	    	{% endblock %}
	    </div>

	    <div id="topcontent"></div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer">
            {% block footer %}
            {% endblock %}
        </div>

    </body>
</html>