{% extends "base.html" %}

{% block title %}
Christian Watts - Welcome
{% endblock %}

{% block content %}
<article>
    <header>
        <h1>article header h1</h1>
        <p>Paragraph text</p>
    </header>
    <section>
        <h2>article section h2</h2>
        <p>Paragraph text</p>
    </section>
    <section>
        <h2>article section h2</h2>
        <p>Paragraph text</p>
    </section>
    <footer>
        <h3>article footer h3</h3>
        <p>Paragraph text</p>
    </footer>
</article>

<article>
    <header>
        <h1>article header h1</h1>
        <p>Paragraph text</p>
    </header>
    <section>
        <h2>article section h2</h2>
        <p>Paragraph text</p>
    </section>
    <section>
        <h2>article section h2</h2>
        <p>Paragraph text</p>
    </section>
    <footer>
        <h3>article footer h3</h3>
        <p>Paragraph text</p>
    </footer>
</article>

<article>
    <header>
        <h1>article header h1</h1>
        <p>Paragraph text</p>
    </header>
    <section>
        <h2>article section h2</h2>
        <p>Paragraph text</p>
    </section>
    <section>
        <h2>article section h2</h2>
        <p>Paragraph text</p>
    </section>
    <footer>
        <h3>article footer h3</h3>
        <p>Paragraph text</p>
    </footer>
</article>

<article>
    <header>
        <h1>article header h1</h1>
        <p>Paragraph text</p>
    </header>
    <section>
        <h2>article section h2</h2>
        <p>Paragraph text</p>
    </section>
    <section>
        <h2>article section h2</h2>
        <p>Paragraph text</p>
    </section>
    <footer>
        <h3>article footer h3</h3>
        <p>Paragraph text</p>
    </footer>
</article>

<article>
    <header>
        <h1>article header h1</h1>
        <p>Paragraph text</p>
    </header>
    <section>
        <h2>article section h2</h2>
        <p>Paragraph text</p>
    </section>
    <section>
        <h2>article section h2</h2>
        <p>Paragraph text</p>
    </section>
    <footer>
        <h3>article footer h3</h3>
        <p>Paragraph text</p>
    </footer>
</article>
{% endblock %}
